<div class="add-channel-container-background">
  <mat-card class="add-channel-container">

      <h1>Add New Chat</h1>

      <mat-form-field appearance="fill">
        <mat-label>Select a user</mat-label>
        <mat-select [(ngModel)]="selectedUserID">
          <mat-option *ngFor="let user of allUser" [value]="user.userID">
            {{user.firstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
          <button mat-raised-button [mat-dialog-close] (click)="dialogRef.close()">Close</button>
          <button mat-raised-button (click)="saveNewChat()">Save</button>
      </div>
  </mat-card>
</div>