<mat-card>
    <mat-card-header>
        <div class="input-container">
            <input matInput type="search" autofocus placeholder="Search" id="search-text" aria-describedby="search-text"
                [(ngModel)]="searchText">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>

    <div class="foud-entries-container">
        <mat-card class="found-entries" *ngFor="let thread of allThreads | searchFilter: searchText">

            <!-- <div class="thread-creator">
                <b>{{ this.allThreads.creatorName }}</b> {{ this.allThreads.createdTime }} Uhr
            </div>
        
            <div>
                {{ this.allThreads.threadText }}
            </div> -->

            <div appHighlight [searchedWord]="searchText" [content]="thread"  
            [classToApply]="'font-weight-bold'" [setTitle]='true'>
                {{thread}}
                

                <!-- <mat-card class="thread-area" *ngFor="let thread of allThreads | reverseText; let i = index" >
                    <img class="profile-pic" src="./assets/img/profile/male.png"> 
                    <mat-card-content>
                         -->


                <!-- <b routerLink="/channel/{{ channel.channelName }}" class="sidenav-entry"># {{ channel.channelName }} -->
                <!-- </b> -->  
            </div>
        </mat-card>
    </div>
</mat-card>



<!-- <div class="foud-entries-container">                     BACKUP
    <mat-card class="found-entries" *ngFor="let c of characters | searchFilter: searchText">
     
        <div appHighlight [searchedWord]="searchText" [content]="c"  
        [classToApply]="'font-weight-bold'" [setTitle]='true'>
            {{c}}

        <mat-card class="thread-area" *ngFor="let thread of allThreads | reverseText; let i = index" >
                <img class="profile-pic" src="./assets/img/profile/male.png"> 
                <mat-card-content>
                    <div class="thread-creator">
                        <b>{{ this.allThreads[i].creatorName }}</b> {{ this.allThreads[i].createdTime }} Uhr
                    </div>
                
                    <div>
                        {{ this.allThreads[i].threadText }}
                    </div> -->


            <!-- <b routerLink="/channel/{{ channel.channelName }}" class="sidenav-entry"># {{ channel.channelName }} -->
            <!-- </b>  -->