<div class="chatroom-container">
    <mat-toolbar class="chatroom-head">
        <span> <!--this.chatpartnerName --></span>
    </mat-toolbar>

    <div class="chat-room">

        
        <mat-card class="message-card" *ngFor="let msg of currChatroom.messages; let i = index">
            <mat-icon id="menu-btn" [class.d-none]="currUser.userID != msg.senderID" [matMenuTriggerFor]="menu" >more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDeleteDialog(i)">Delete</button>
                <button mat-menu-item (click)="openEditDialog(i)">Edit</button>
              </mat-menu>
            <img class="profile-pic" src="./assets/img/profile/male.png"> 
            <mat-card-content>
                <div class="thread-creator">
                    <b>{{ msg.senderName }}</b> {{ msg.timeString}} Uhr
                </div>
            
                <div>
                    <quill-view-html 
                    [content]="msg.content" 
                    format="text" theme="snow">
                    </quill-view-html>
                   <!-- {{msg.content}} -->
                </div>
            </mat-card-content>
        
        </mat-card>
        
    </div>

    <div class="interface-container">
        <app-chat-interface [chatroomId]="chatroomId" [currUser]="currUser"></app-chat-interface>
    </div>

</div>