<div class="chatroom-container">
    <mat-toolbar class="chatroom-head">
        <span># Chatpartner <!--this.chatpartnerName --></span>
    </mat-toolbar>

    <div class="chat-room">

        
        <mat-card class="message-card" *ngFor="let chat of currChatroom.messages">
            <mat-icon id="menu-btn" (click)="openDeleteDialog()">more_vert</mat-icon>
            <img class="profile-pic" src="./assets/img/profile/male.png"> 
            <mat-card-content>
                <div class="thread-creator">
                    <b>{{ chat.senderID }}</b> {{ chat.timeString}} Uhr
                </div>
            
                <div>
                   {{chat.content}}
                </div>
            </mat-card-content>
        
        </mat-card>
        
    </div>


    <div class="chat-input-container">
        <div class="chat-keyboard">
            <div class="upper-controls">
                <button id="format-bold" (click)="formatText('bold')"><mat-icon>format_bold</mat-icon></button>
                <button id="format-italic" (click)="formatText('italic')"><mat-icon>format_italic</mat-icon></button>
                <button id="format-strikethrough" (click)="formatText('strikeThrough')"><mat-icon>format_strikethrough</mat-icon></button>
                <button id="format-link"><mat-icon>link</mat-icon></button>
                <button id="format-list-numbered" (click)="formatText('InsertOrderedList')"><mat-icon>format_list_numbered</mat-icon></button>
                <button id="format-list-enumerated" (click)="formatText('InsertUnorderedList')"><mat-icon>format_list_bulleted</mat-icon></button>

                <!-- <mat-button-toggle-group name="text-typse" multiple>
                    <mat-button-toggle value="bold" (click)="getSelectedText()"><mat-icon>format_bold</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="italic"><mat-icon>format_italic</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="italic"><mat-icon>text_format</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="strikethrough"><mat-icon>format_strikethrough</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-button (click)="openDialog()"> <mat-icon>link</mat-icon> </button>
                <mat-button-toggle-group name="list-style">
                    <mat-button-toggle value="numbered"> <mat-icon> format_list_numbered</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="enumerated"><mat-icon> format_list_bulleted</mat-icon></mat-button-toggle>
                  </mat-button-toggle-group>
                  -->
            </div> 


            <div class="content-input">
                <textarea class="input-field" [(ngModel)]="message.content"></textarea>
                <!-- <div class="input-field" contentEditable></div> -->
            </div>
            <div class="lower-controls">
                <div class="lower-left-controls">
                    <label for="attach-file"><mat-icon>attach_file</mat-icon></label>
                    <input type="file" name="" id="attach-file" (change)="showFilename($event)" #fileUploader>
                    <div id="uploads" matTooltip="delete file" (click)="resetUpload()"></div>
                    <button id="alternate-email"><mat-icon>alternate_email</mat-icon> </button>
                    <button id="add_reaction"> <mat-icon>add_reaction</mat-icon> </button>
                </div>
                <button id="send-message" (click)="send()"> <mat-icon>send</mat-icon> </button>
            </div>
        </div>
    </div>
</div>