<mat-drawer-container class="channel-container" autosize>
    <mat-toolbar class="channelhead" onclick="openDialog()">
        <span># {{ this.channelId }}</span>
        <mat-icon fontIcon="expand_more"></mat-icon>
    </mat-toolbar>
    
    <div class="channel-room">
        <mat-card class="thread-area" *ngFor="let thread of allThreads | reverseText; let i = index" >
            <img class="profile-pic" src="./assets/img/profile/{{this.allThreads[i].creatorGender}}.png"> 
            <mat-card-content>
                <div class="thread-creator">
                    <b>{{ this.allThreads[i].creatorName }}</b> {{ this.allThreads[i].createdTime }} Uhr
                </div>
            

                <div>
                    <quill-view-html 
                    [content]="this.allThreads[i].threadText" 
                    format="text" theme="snow">
                    </quill-view-html>
                   <!-- {{msg.content}} -->
                </div>

                <button class="emoji-btn">
                    <img class="image-main" src="./assets/img/icons/add_reaction.png">
                    <img class="image-hover" src="./assets/img/icons/add_reaction-filled.png">
                </button>
                <mat-card class="answer-area">
                    <img src="./assets/img/icons/creator.png">
                    <span (click)="drawer.toggle()" (click)="openThread( this.allThreads[i].id )"> {{ this.allThreads[i].answers.length }} Antworten</span>
                    <span>Letzte Antwort vor 3 Tagen</span>
                </mat-card>
            </mat-card-content>
        </mat-card>

        <mat-card class="chat-input-container">
            <mat-card-content class="chat-keyboard">
                <app-chat-interface [channelId]="channelId"></app-chat-interface>
            </mat-card-content>
        </mat-card>
    </div>



    <mat-drawer #drawer class="thread-sidenav" mode="side" position="end">
        <mat-toolbar class="channelhead">
            <span>Thread # {{this.channelId}}</span>
            <mat-icon fontIcon="close"></mat-icon>
        </mat-toolbar>
        <app-thread [threadId]='this.threadId' [channelId]="this.channelId"></app-thread>
    </mat-drawer>

</mat-drawer-container>

