<mat-toolbar color="primary">

    <mat-icon>menu</mat-icon>

    <input matInput placeholder="Search">

    <mat-icon>account_box</mat-icon>
</mat-toolbar>

<mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened>
        <div class="sidenav-container">
            <div>
                <div>Thread</div>
                <div>Entwürfe</div>
                <div>Gesendet</div>
            </div>
            <div>
                <div routerLink="/channel"># Allgemein</div>
                <div># Angular</div>
                <div># JavaScript</div>
            </div>
            <div>
                <div># Patrick</div>
                <div># Andreas</div>
                <div># Brett</div>
            </div>
        </div>
    </mat-drawer>

    <div>
        <router-outlet></router-outlet>
    </div>
    

</mat-drawer-container>