<mat-toolbar color="primary">

    <mat-icon>menu</mat-icon>

    <input matInput placeholder="Search">

    <mat-icon>account_box</mat-icon>
</mat-toolbar>


<mat-drawer-container class="example-container">
    
    <mat-drawer mode="side" opened>
        <div class="sidenav-container">
            <div class="entry-container">
                <div (click)="openAddChannel()" class="sidenav-add-channel">+ add channel</div>
            </div>

            <div class="entry-container">
                <div class="sidenav-tr" *ngFor="let channel of allChannels">
                    <div routerLink="/channel" class="sidenav-entry">{{ channel.channelName }}</div>
                </div>
            </div>
            <div class="entry-container">
                <div class="sidenav-entry"># Patrick</div>
                <div class="sidenav-entry"># Andreas</div>
                <div class="sidenav-entry"># Brett</div>
                <div class="sidenav-entry"># Hagen</div>
            </div>
        </div>
    </mat-drawer>

    <div>
        <router-outlet></router-outlet>
    </div>


</mat-drawer-container>