mat-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgb(53, 13, 54) !important;

    input{
        width: 400px;
        margin-left: 40%;

        &:hover{
            cursor: pointer;
        }
    }


    mat-icon {
        cursor: pointer;
        color: white;
    }
}

.logout{
    cursor: pointer;
}

mat-drawer-container {
    height: 100vh;

    mat-drawer {
        width: 20%;
        background-color: #4659c0;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;

        background-color: rgb(63, 14, 64) !important;

        .sidenav-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20vh;
            color: white;
        }
    }
}

::ng-deep mat-drawer-content {
    padding: unset;
}

.entry-container {
    width: 100%;
    margin-bottom: 30px;
}

.sidenav-add-channel,
.sidenav-add-chat {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        background-color: rgb(53, 13, 54);
    }
}

.sidenav-entry {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;

    &:hover {
        cursor: pointer;
        background-color: rgb(53, 13, 54);
    }
}

.content-body {
    margin-top: 64px;
}

.d-none {
    display: none;
}