mat-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
    color: white;

    mat-icon {
        cursor: pointer;
    }
}

mat-drawer-container {
    height: 100vh;

    mat-drawer {
        width: 20%;
        height: 100%;
        background-color: #4659c0;

        .sidenav-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            color: white;
        }
    }
}

::ng-deep mat-drawer-content {
    padding: unset;
}

.entry-container{
    width: 100%;
}

.sidenav-add-channel{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;

    &:hover{
        cursor: pointer;
        background-color: #5163c7;
    }
}

.sidenav-entry{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;

    &:hover{
        cursor: pointer;
        background-color: #5163c7;
    }
}